@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Montserrat:wght@300;400;600&family=Roboto+Condensed:wght@300;400&display=swap");

// font-family: 'Inter', sans-serif; 300 400 600

// font-family: 'Montserrat', sans-serif; 300 400 600

// font-family: 'Roboto Condensed', sans-serif; 300 400

$dark: #0c0a15;
$ldark: #1d1f20;
$grey: rgb(104, 99, 99);
$main: #fff;
$bright: #fff;
$neon: #13f6fe;
$mont: "Montserrat", sans-serif;
$inter: "Inter", sans-serif;
$glow_g: 0 0 5px rgba(157, 255, 0, 0.3);

%pseudo {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}
%center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html {
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  background-color: $dark;
  color: $main;
  text-decoration: none;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.menu__icon {
  display: none;
}

.container {
  margin: 0 auto;
  width: 1350px;
}

.header {
  max-height: 159px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 5vh;
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  margin-top: 36px;
  gap: 20px;
}

.button {
  display: inline-block;
  border-radius: 30px;
  line-height: 40px;
  padding: 0 32px;
  color: $main;
  font-weight: 500;
  transition: all 0.3s;
  white-space: nowrap;
  &:hover {
    box-shadow: 0 0 30px 1px $neon;
    transition: all 0.3s;
  }
  &:active {
    transform: scale(0.9);
  }
}

.logo__link {
  position: absolute;
  top: 22px;
  left: 0;
}

.logo {
  max-width: 224px;
}

.contacts__item {
  position: relative;
}

.contacts__item::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  height: 16px;
  top: 3px;
  left: -26px;
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts__hours em {
  font-style: normal;
  font-weight: 400;
}

.about__contacts_item_wrapper em {
  font-style: normal;
  font-weight: 400;
}

//   .contacts__download::before {
//     background-image: url(../img/icon_arrow.svg);
//   }

//   .contacts__hours::before {
//     background-image: url(../img/icon_clock.svg);
//   }

//   .contacts__phone::before {
//     background-image: url(../img/icon_phone.svg);
//   }

.header__menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 18px auto 0 auto;
}

.header__menu_item {
  position: relative;
  transition: all 0.3s;
}

.header__menu_item:hover {
    
        text-shadow: 0 0 30px $neon;
        transition: all 0.3s;
      
}

.services_item {
  position: relative;
}
.services__page .main__services-button {
  display: none;
}

.services_item::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  right: -26px;
  top: 6px;
  background-repeat: no-repeat;
  background-position: center center;
  // background-image: url(../img/icon_tick.svg);
}

// CIRCLE PROGRESS BAR
.progress__wrapper {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: end;
}
.progressbar {
  width: 120px;
  height: 120px;
  border-radius: 999px;
  /*border: 1px solid #146ae4;*/
  //   box-shadow: 0 0 30px 1px rgba(65, 142, 220, 0.6);
  background-color: $ldark;
  svg {
    height: 100%;
    transform: rotate(180deg);
    filter: drop-shadow(0 0 10px $neon);
  }
  &__label {
    text-align: center;
    margin-top: 20px;
    max-width: 100%;
    font-size: 12px;
  }
  &__item {
    min-width: 13ch;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.progressbar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //   animation: neon2 1.5s ease-in-out infinite alternate;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-shadow: $glow_g;
}
#progressbar .progressbar-text {
  color: rgb(187, 255, 0) !important;
}
#progressbar4 .progressbar-text {
  color: #00ff01 !important;
}
.gradient-border {
  --borderWidth: 2px;
  background: $ldark;
  position: relative;
  border-radius: 30px;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: 30px;
  z-index: -1;
  -webkit-animation: animatedgradient 10s ease alternate infinite;
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}

@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
main {
  display: flex;
}
.col__left {
  flex-shrink: 1;
  flex-grow: 1;
  margin-right: 24px;
}
.col__right {
  flex-basis: 290px;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 36px;
  border-radius: 20px;
  background-color: $ldark;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  img {
    width: 100%;
  }
}
.contacts__download {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: $bright;
  position: relative;
  font-size: 18px;
  margin-right: 20px;
  animation: neon2 1.5s ease-in-out infinite alternate;
  &:before {
    @extend %pseudo;
    background-image: url(/src/images/download.svg);
    width: 20px;
    height: 20px;
    filter: drop-shadow(0 0 10px $neon);
  }
}
@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

.support {
  display: inline-block;
  margin: 0 auto 32px auto;
  &__ava {
    position: relative;
    border-radius: 100%;
    width: 110px;
    height: 110px;
    border: 10px solid $bright;
    background-image: url(/src/images/ava.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 16px auto;
    &::after {
      @extend %pseudo;
      background-image: url(/src/images/supp_icon.svg);
      width: 35px;
      height: 35px;
      left: auto;
      right: -10px;
      top: -9px;
    }
  }
  &__content {
    text-align: center;
  }
  &__title {
    font-family: $mont;
    font-size: 18px;
    font-weight: 500;
  }
  &__description {
    font-size: 12px;
  }
  &__chat {
    // font-size: 14px;
    position: relative;
    margin-top: 10px;
    margin-left: 17px;
    &::before {
      @extend %pseudo;
      background-image: url(/src/images/icon_chat.svg);
      width: 22px;
      height: 20px;
      top: 3px;
      left: -5px;
    }
  }
}
.content__section {
    box-shadow: 0 0 92px rgba(0, 195, 255, 0.08);
    border-radius: 20px;
    padding: 60px 50px 50px;
    background-color: $ldark;
    margin-bottom: 20px;
}
.info {

  &__menu {
    display: flex;
    justify-content: center;
    padding: 18px 0;
    border-top: 1px solid $dark;
    border-bottom: 1px solid $dark;
    gap: 75px;
    &_link {
      position: relative;
      &::before {
        @extend %pseudo;
        left: -25px;
        top: 3px;
      }
    }
    &_info::before {
      background-image: url(/src/images/icon_info.svg);
      width: 18px;
      height: 18px;
    }
    &_reviews::before {
      background-image: url(/src/images/icon_reviews.svg);
      width: 19px;
      height: 18px;
    }
    &_review::before {
      background-image: url(/src/images/icon_review.svg);
      width: 14px;
      height: 10px;
      top: 8px;
    }
  }
  &__content {
    display: flex;
    gap: 60px;
    margin-top: 18px;

    &_table {
      img {
        border-radius: 3px;
      }
      &_title {
        
        margin-bottom: 22px;
        h2 {
          font-size: 20px;
          line-height: 24px;
          font-weight: 600;

        }
      }
    }
    ul {
      margin: 0;
    }
    li {
      position: relative;
      margin-bottom: 9px;
      &::before {
        @extend %pseudo;
        top: 5px;
        left: -26px;
        background-image: url(/src/images/icon_check.svg);
      }
    }
    &_list {
      margin-top: 0px;
    }
  }
}
.rating {
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
  //   outline: 1px solid $bright;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(/src/images/icon-pokerok.png);
    background-repeat: no-repeat;
    background-position: top 0 left 10px;
    background-size: 24%;
  }
  &__title {
    align-self: start;
    font-family: $mont;
    font-size: 20px;
  }
  &__text {
    color: $bright;
    text-align: center;
    font-family: $mont;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0 0 5px rgba(157, 255, 0, 0.3);
    margin-top: 50px;
    margin-left: 30px;
    em {
      color: rgb(187, 255, 0);
      font-size: 32px;
    }
  }
  &__stars {
    filter: drop-shadow($glow_g);
    margin-left: 30px;
  }
}

.title {
    font-family: $mont;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.reg {
    &__wrapper{
        display: grid;
        grid-template-columns: 60px 1fr;
        gap: 40px;
        margin-top: 20px;
      }
    
    &__num {
        position: relative;
width: 40px;
height: 40px;
        border-radius: 50px;
        background-color: $bright;
       
        justify-self: center;
        align-self: center;
        span{
            @extend %center;
            color: $ldark;
            font-family: $mont;
            font-size: 20px;
            font-weight: 600;
        }
    }
    &__content {
        &_text {
            margin-bottom: 16px;
        }
        &_promo {
            display: inline-block;
            border-radius: 5px;
            padding: 1ch 5ch;
            border: 2px dashed $grey;
            font-family: $mont;
            font-weight: 600;
            font-size: 24px;
        }
        &_btn {
            background-color: $neon;
            color: $ldark;
            font-weight: 600;
        }
    }
}
.seperator {
    width: 100%;
    height: 2px;
    animation: rotate 3s infinite linear;
    -webkit-animation: rotate 10s ease alternate infinite;
  }
  @-webkit-keyframes rotate {
    from {
      background-position: -3000px;
    }
    to { 
      background-position: 0px;
    }
  }
  
  @keyframes rotate {
    from {
      background-position: -3000px;
    }
    to { 
      background-position: 0px;
    }
  }
  
  .gradient {
    background: rgb(48,255,144); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(48,255,144,1) 0%, rgba(237,45,237,1) 25%, rgba(201,152,38,1) 50%, rgba(48,255,230,1) 75%, rgba(48,255,144,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(48,255,144,1)), color-stop(25%,rgba(237,45,237,1)), color-stop(50%,rgba(201,152,38,1)), color-stop(75%,rgba(48,255,230,1)), color-stop(100%,rgba(48,255,144,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ff90', endColorstr='#30ff90',GradientType=1 ); /* IE6-9 */
  
  }

